// **************************************************
//
// MUELLER
// modular grid system
//
// _media_desktop.scss
//
// 1024px
//
// **************************************************

@import "compass/typography/vertical_rhythm";

// baseline
$relative-font-sizing: false;
$base-font-size: 16px;
$base-line-height: 24px;
@include establish-baseline(14px);

$gc: 24; // grid columns
$gw: 20px; // grid width
$gm: 20px; // grid margin

.g-d-c {
    @extend .g-base-c;
    width: $gw*$gc+$gm*($gc - 1);
}

@include grids(d,
    0 2 3 4 6 8 9 12 16 18 24, // only add the columns you really need
    $gc,
    $gw,
    $gm,
    0 2 3 4 6 8 9 12 16 18 24); // only add the pad-units you really need to push/pull/append/prepend

// visibility (l,d,t/tp/tl,h/hp/hl)
.l-show, .h-show, .hp-show, .hl-show, .t-show, .tp-show, .tl-show {
    display: none !important;
}
.d-hide {
    display: none !important;
}
.d-show {
    display: block !important;
}
#{elements-of-type(inline)} {
    &.d-show {
        display: inline !important;
    }
}