// *****************************************************************************
//
// MUELLER
// modular grid system
//
// _handheld.scss
//
// <479px: fluid grid
// overwrite styles from _default.scss
//
// *****************************************************************************

@media screen and (max-width: 479px) {
    body {
        padding: 3em 20px !important;
    }
}
